body {

    background-image: url(img/scale_1200\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 105%;
}

@font-face {
    font-family: beer;
    src: url(fonts/beer\ money.ttf);
}

@font-face {
    font-family: Christmas ScriptC;
    src: url(fonts/Christmas\ ScriptC.ttf);
}

h1 {
    font-family: beer;
}

label {
    font-family: Christmas ScriptC;
}

.content {
    width: 900px;
    height: auto;
    margin: 100px auto;
    background-color: rgb(213, 255, 187);
    padding: 20px;
}

.kurs {
    text-align: center;
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

legend {
    font-size: 18px;
}

b {
    font-size: 20px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}



li {
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}

.money {
    text-align: center;
}

s {
    font-size: 20px;
}

.sum19 {
    color: rgb(221, 2, 2);

}

input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 30px;
    background-color: rgb(250, 250, 255);
}

.ind {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

a { 
    text-decoration: none;
    color: rgb(114, 134, 28);
}