body {
    background-color: aliceblue;
}

@font-face {
    font-family: thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: zap;
    src: url(fonts/Roboto-BlackItalic.ttf);
}

h1 {
    font-family: comf;
}

.course {
    background-image: url(img/logo.png);
    background-size: 30%;
    background-repeat: no-repeat;
    height: 250px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 24px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.content {
    width: 1500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 30px;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
}

li {
    float: left;
}

nav {
    position: relative;
    left: 430px;
    top: 30px;
    width: 1200px;
    height: auto;
}

ul.zortsavtun li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
}

ul.zortsavtun li:last-child a {
    border-right: none;
}

.kurs {
    background-image: url(img/228666_or.jpg);
    width: 1500px;
    height: 800px;
}

.pre {
    width: 1500px;
    height: 1000px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto
}

.pre {
    padding-top: 50px
}

.pre .d1 {
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    height: auto;
    font-size: 25px;
    box-sizing: border-box;
    text-align: left;
}

@media (max-width:575px) {

    .services .service {
        width: 100%;
        float: none
    }

}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description h1 {
    font-weight: 300;
    font-size: 48px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 19px;
    font-weight: 300;
    color: #7f7f7f;
    line-height: 24px;
    text-align: center;
}

.stock {
    width: 1500px;
    height: 700px;
    background-image: url(img/f1bb2754680a585ceeabcf43e708fac9.jpg);
}

.pstock {
    color: white;
    text-align: center;
    font-size: 50px;
}
.pstock1 {
    width: 60%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

footer {
    width: 1500px;
    height: 200px;
}

.h11 {
    text-align: left;
    font-size: 30px;
    width: auto;
}

.cell {
    width: 1500px;
    height: 800px;
    background-color: aliceblue;
}

.cell1 {
    font-size: 45px;
    text-align: center;
    font-family: thin;
    color: rgb(0, 0, 0);

}

.zap {
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
    font-family: zap;
}